<!-- Bootstrap Navbar -->
  <!-- Bootstap Hero -->
  <section class="marginn" style="margin-top: 100px;">
    <section class="one" id="one">
      <div class="row flex-lg-row-reverse align-items-center g-5 py-5" style="margin-left: 25px; margin-right: 25px;">
        <div class="col-10 col-sm-8 col-lg-6">
          <img src="https://lh3.googleusercontent.com/vq6ZjR72IcEKRh3QtkVrf2BXsZIOgljo8yGevO2rSVtl3mSxSDKvWfFAGxMxCYbPLGiovGk-gk0kA2csKSPHQKog-zTmNjRtmh6VkA=s0" class="d-block mx-lg-auto img-fluid" alt="Yo wassup" width="700" height="500" loading="lazy">
        </div>
        <div class="col-lg-6">
          <h1 class="display-5 fw-bold lh-1 mb-3">Myob</h1>
          <p class="lead">Myob <span style="text-transform: lowercase;">FACILITATES END-TO-END BUSINESS SOLUTIONS TO ENABLE BREAKTHROUGH GROWTH AND TO BUILD LASTING BUSINESSES. <span style="text-transform: capitalize;">W</span>E TAKE PRIDE IN DELIVERING BUSINESS RESULTS IN ALL OUR INTERVENTIONS. <span style="text-transform: capitalize;">W</span>E HAVE FOUR BUSINESS VERTICALS. <span style="text-transform: capitalize;">B</span>USINESS, <span style="text-transform: capitalize;">H</span>UMAN RESOURCE, <span style="text-transform: capitalize;">P</span>ROCESS AND <span style="text-transform: capitalize;">T</span>ECHNOLOGY.</span></p>
          <div class="d-grid gap-2 d-md-flex justify-content-md-start">
            <button type="button" class="btn btn-outline-primary btn-lg px-4" onclick="window.location.href='#two'">About us</button>
          </div>
        </div>
      </div>
      
      <div class="custom-shape-divider-bottom-1633851282">
  
      </div>
    </section>