<!-- <div class="page-wrapper">
  <div class="nav-wrapper">
    <div class="grad-bar"></div>
    <nav class="navbar">
      <img src="assets/bfs_logo.jpg" alt="Company Logo">
      <div class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <ul class="nav no-search">
        <li class="nav-item"><a href="#">About</a></li>
        <li class="nav-item"><a href="#">Services</a></li>
        <li class="nav-item"><a href="#">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</div> -->

<nav class="navbar">
    <div class="navbar-container container">
        <input type="checkbox" name="" id="">
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        <ul class="menu-items">
            <li><button class="dropbtn">About</button></li>
            <li>
                <div class="dropdown">
                    <button class="dropbtn">Services <i class='fas fa-angle-down'></i></button>
                    <div class="dropdown-content">
                        <a href="#">Inspection Quality Check</a>
                        <a href="#">Preservation Work Order Quality Check</a>
                        <a href="#">Estimate Creation or Bid Submission</a>
                        <a href="#">Property Level Review</a>
                        <a href="#">Landscaping Management / Seasonal Activities</a>
                        <a href="#">Verbal and Written Communication</a>
                        <a href="#">Value Added Services</a>
                    </div>
                </div>
            </li>
            <!-- <li class="dropdown"><a href="#">Services</a></li>
          <ul class="dropdown-nav">
            <li><a href="#">Inspection Quality Check</a></li>
            <li><a href="#">Preservation Work Order Quality Check</a></li>
            <li><a href="#">Estimate Creation or Bid Submission</a></li>
            <li><a href="#">Property Level Review</a></li>
            <li><a href="#">Landscaping Management / Seasonal Activities</a></li>
            <li><a href="#">Verbal and Written Communication</a></li>
            <li><a href="#">Value Added Services</a></li>
          </ul> -->
            <li><button class="dropbtn">Contact Us</button></li>
        </ul>
        <h1 class="logo"><img src="assets/bfs_logo.jpg"></h1>
    </div>
</nav>