
    <!--Navbar section -->
    <!-- <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
        <div class="container">
            <a href="#" class="navbar-brand">Front end Bootcamp</a>
            
            <button 
                class="navbar-toggler" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#navmenu"
            >
            <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="#home" class="nav-link">Home</a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="#services" class="nav-link">Services</a>
                    </li>

                    <li class="nav-item">
                        <a href="#about" class="nav-link">About</a>
                    </li>

                    <li class="nav-item">
                        <a href="#questions" class="nav-link">questions</a>
                    </li>

                    <li class="nav-item">
                        <a href="#Instructors" class="nav-link">Instructors</a>
                    </li>
                    
                    <li class="nav-item">
                        <a href="#contact" class="nav-link">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav> -->

    <!--Home section -->

    <!-- <section class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start" id="home">
        <div class="container">
            <div class="d-sm-flex align-items-center justify-content-between">
                <div>
                    <h1>Become a <span class="text-warning">Web Developer</span></h1>
                    <p class="lead my-4 ">
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                        Libero consequatur, amet tenetur sequi eveniet, excepturi a 
                    </p>

                    <button 
                        class="btn btn-primary btn-lg" 
                        data-bs-toggle="modal" 
                        data-bs-target="#Enroll"
                    >
                        Start The Enrollment
                    </button>

                </div>

                <a href='https://svgshare.com/s/gH0' ><img class="img-fluid  d-none d-sm-block" src='https://svgshare.com/i/gH0.svg' title='' /></a>

            </div>
        </div>
    </section> -->

    <!--Newwsletter section -->
    <section class="bg-primary text-light p-5">
        <div class="container">
            <div class="d-md-flex justify-content-between align-items-center">
                <h3 class="mb-3 mb-md-0">Contact Us</h3>

                <!-- <div class="input-group news-input">
                    <input 
                        type="text" 
                        class="form-control" 
                        placeholder="Enter E-mail"
                    >
                    <button 
                        class="btn btn-dark btn-lg" 
                        type="button"
                    >Button
                    </button>
                </div> -->
            </div>
        </div>
    </section>


    <!--Boxs section -->
    <!-- <section class="p-5" id="services">
        <div class="container">
            <div class="row text-center g-4">
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-laptop"></i>
                            </div>
                            <h3 class="card-title mb-3">
                                Virtual
                            </h3>
                            <p class="card-text">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                                Rerum, optio ratione. Adipisci accusantium enim id?
                            </p>
                            <a href="#" class="btn btn-primary">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-secondary text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-person-square"></i>
                            </div>
                            <h3 class="card-title mb-3">
                                Hyber
                            </h3>
                            <p class="card-text">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                                Rerum, optio ratione. Adipisci accusantium enim id?
                            </p>
                            <a href="#" class="btn btn-dark">Read more</a>
                        </div>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card bg-dark text-light">
                        <div class="card-body text-center">
                            <div class="h1 mb-3">
                                <i class="bi bi-people"></i>
                            </div>
                            <h3 class="card-title mb-3">
                                In person
                            </h3>
                            <p class="card-text">
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                                Rerum, optio ratione. Adipisci accusantium enim id?
                            </p>
                            <a href="#" class="btn btn-primary">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->

    <!--lear section -->
    <section class="p-5" id="about">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-md">
					<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d248890.41352433088!2d77.49677144571822!3d12.913331549677444!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae3dd722ea457d%3A0xd69628727bd5a177!2sBefore%20First%20Solutions%20LLP!5e0!3m2!1sen!2sin!4v1652438923385!5m2!1sen!2sin" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <!-- <a href='https://svgshare.com/s/gH1' ><img  class="img-fluid " src='https://svgshare.com/i/gH1.svg' title='' /></a> -->

                </div>
                <div class="col-md p-5"  id="corpmove">
                    <h2 class="hstyle">Head Office</h2>
                    <p>
						Before First Solutions LLP
                    </p>
                    <p>
                        4th floor, Tejas Arcade, 1st Main Road
                    </p>
					<p>
                       9, Dr Rajkumar Rd, Rajajinagar
                    </p>
					<p>
						Bengalore
					 </p>
					 <p>
						Karnataka - 560010
					 </p>
                     <p>Phone: +1 337 243 6364 extn : 4003</p>
                </div>
            </div>
        </div>
    </section>



    <section class="p-5 bg-dark text-light" id="learn ">
        <div class="container">
            <div class="row align-items-center justify-content-between">

                <div class="col-md p-5">
                    <h2 class="hstyle">Corporate Office</h2>
                    <p>
						Before First Solutions LLP
                    </p>
                    <p>
                        403,Techno It Park
                    </p>
					<p>
						Eksar Village
                    </p>
					<p>
						Borivali West
					 </p>
					<p>
						Mumbai
					 </p>
					 <p>
						Maharashtra - 400091
					 </p>
                    <p>Phone: +1 337 243 6364 extn : 4003</p>
                </div>

                <div class="col-md">

                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d455028.7249055355!2d72.68272797253294!3d19.269402765283576!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7b11700000001%3A0xc277ec855a484002!2sBefore%20First%20Solutions%20LLP!5e0!3m2!1sen!2sin!4v1652678314211!5m2!1sen!2sin" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

                </div>
            </div>
        </div>
    </section>

    <!--F&Q-->
    <!-- <section class="p-5" id="questions">
        <div class="container">
            <h2 class="text-center mb-4">Frequent asked</h2>

            <div class="accordion accordion-flush" id="accordionFlushExample">


                <div class="accordion-item">
                  <h2 class="accordion-header" id="flush-headingOne">
                    <button 
                        class="accordion-button collapsed" 
                        type="button" data-bs-toggle="collapse" 
                        data-bs-target="#q-one" 
                    >
                      Our exact Locaction
                    </button>
                  </h2>
                  <div
                    id="q-one" 
                    class="accordion-collapse collapse" 
                    data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt veniam omnis nemo eius eos earum cupiditate dicta quo adipisci voluptates.
                    </div>
                  </div>
                </div>



                <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                      <button 
                          class="accordion-button collapsed" 
                          type="button" data-bs-toggle="collapse" 
                          data-bs-target="#q-tow" 
                      >
                        How much does it cost to attend
                      </button>
                    </h2>
                    <div
                      id="q-tow" 
                      class="accordion-collapse collapse" 
                      data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt veniam omnis nemo eius eos earum cupiditate dicta quo adipisci voluptates.
                      </div>
                    </div>
                  </div>
                
                
                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                      <button 
                          class="accordion-button collapsed" 
                          type="button" data-bs-toggle="collapse" 
                          data-bs-target="#q-three" 
                      >
                        How do I sign up?
                      </button>
                    </h2>
                    <div
                      id="q-three" 
                      class="accordion-collapse collapse" 
                      data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt veniam omnis nemo eius eos earum cupiditate dicta quo adipisci voluptates.
                      </div>
                    </div>
                  </div>


                  <div class="accordion-item">
                    <h2 class="accordion-header" id="flush-headingOne">
                      <button 
                          class="accordion-button collapsed" 
                          type="button" data-bs-toggle="collapse" 
                          data-bs-target="#q-four" 
                      >
                        Do you help me find a job?
                      </button>
                    </h2>
                    <div
                      id="q-four" 
                      class="accordion-collapse collapse" 
                      data-bs-parent="#accordionFlushExample">
                      <div class="accordion-body">
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt veniam omnis nemo eius eos earum cupiditate dicta quo adipisci voluptates.
                      </div>
                    </div>
                  </div>
              </div>
        </div>
    </section> -->



    <!--- Instracture --->
    <!-- <section id="Instructors" class="p-5 bg-primary">
        <div class="container">
            <h2 class="text-center text-white">Our instructors</h2>
            <p class="lead text-center text-white mb-5">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda saepe labore quo laboriosam voluptas.
            </p>

            <div class="row g-4">

                <div class="col-md-6 col-lg-3">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <img src="https://randomuser.me/api/portraits/men/11.jpg" class="rounded-circle mb-3">
                            <h3 class="card-title mb-3">John Doe</h3>
                            <p class="card-text">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. A dolorum dolor in atque commodi!
                            </p>
                            <a href="#">
                                <i class="bi bi-twitter text-dark mx-1 lead"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-facebook text-dark mx-1 lead"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-linkedin text-dark mx-1 lead"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-instagram text-dark mx-1 lead"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <img src="https://randomuser.me/api/portraits/men/10.jpg" class="rounded-circle mb-3">
                            <h3 class="card-title mb-3">Jahn Doe</h3>
                            <p class="card-text">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. A dolorum dolor in atque commodi!
                            </p>
                            <a href="#">
                                <i class="bi bi-twitter text-dark mx-1 lead"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-facebook text-dark mx-1 lead"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-linkedin text-dark mx-1 lead"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-instagram text-dark mx-1 lead"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <img src="https://randomuser.me/api/portraits/women/11.jpg" class="rounded-circle mb-3">
                            <h3 class="card-title mb-3">Dalia</h3>
                            <p class="card-text">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. A dolorum dolor in atque commodi!
                            </p>
                            <a href="#">
                                <i class="bi bi-twitter text-dark mx-1 lead"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-facebook text-dark mx-1 lead"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-linkedin text-dark mx-1 lead"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-instagram text-dark mx-1 lead"></i>
                            </a>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-6 col-lg-3">
                    <div class="card bg-light">
                        <div class="card-body text-center">
                            <img src="https://randomuser.me/api/portraits/women/3.jpg" class="rounded-circle mb-3">
                            <h3 class="card-title mb-3">Sara Doe</h3>
                            <p class="card-text">
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. A dolorum dolor in atque commodi!
                            </p>
                            <a href="#">
                                <i class="bi bi-twitter text-dark mx-1 lead"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-facebook text-dark mx-1 lead"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-linkedin text-dark mx-1 lead"></i>
                            </a>
                            <a href="#">
                                <i class="bi bi-instagram text-dark mx-1 lead"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->


    <!--Contact-->
    <!-- <section class="p-5" id="contact">
        <div class="container">
            <div class="row g-4">
                <div class="col-md">
                    <h2 class="text-center mb-4">Contact Info</h2>
                    <ul class="list-group list-group-flush lead">
                        <li class="list-group-item">
                            <span class="fw-bold">Main Locaction:</span>50 M street Fs
                        </li>

                        <li class="list-group-item">
                            <span class="fw-bold">Phone Number:</span>(+1) 234 567 890
                        </li>

                        <li class="list-group-item">
                            <span class="fw-bold">Busniss E-mail:</span>example@email.com
                        </li>

                        <li class="list-group-item">
                            <span class="fw-bold">Students E-mail:</span>sexample@email.com
                        </li>
                    </ul>
                </div>

                <div class="col-md">
                    <div id="map">

                    </div>
                </div>
            </div>
        </div>
    </section> -->



    <!--footer-->

    <!-- <footer class="p-5 bg-dark text-white text-center position-relative">
        <div class="container">
            <p class="lead">
                Copyright &copy; 2022 khawla zahi
            </p>

            <a href="#" class="position-absolute bottom-0 end-0 p-5">
                <i class="bi bi-arrow-up-circle h1"></i>
            </a>
        </div>
    </footer> -->



    
<!-- Modal -->
<!-- <div class="modal fade" id="Enroll" tabindex="-1" aria-labelledby="EnrollLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="EnrollLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">
            <p class="lead">Fill That Form and we will get back to you</p>

            <form >
                <div class="mb-3">
                    <label for="first-name" class="col-form-label">
                        First Name:
                    </label>
                    <input type="text" class="form-control" id="name">
                </div>
                
                <div class="mb-3">
                    <label for="first-name" class="col-form-label">
                        First Name:
                    </label>
                    <input type="text" class="form-control" id="name">
                </div>
                
                <div class="mb-3">
                    <label for="first-name" class="col-form-label">
                        First Name:
                    </label>
                    <input type="text" class="form-control" id="name">
                </div>
                
                <div class="mb-3">
                    <label for="first-name" class="col-form-label">
                        First Name:
                    </label>
                    <input type="text" class="form-control" id="name">
                </div>
            </form>

        </div>
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div> -->
  <div class="getin">
  <div class="container">
    <h2>Get In Touch With Us</h2>
    <div class="row100">
      <div class="col">
        <div class="inputBox">
          <input type="text" name="" required="required">
          <span class="text">First Name</span>
          <span class="line"></span>
        </div>
      </div>
      <div class="col">
        <div class="inputBox">
          <input type="text" name="" required="required">
          <span class="text">Last Name</span>
          <span class="line"></span>
        </div>
      </div>
    </div>
    <div class="row100">
      <div class="col">
        <div class="inputBox">
          <input type="text" name="" required="required">
          <span class="text">Email</span>
          <span class="line"></span>
        </div>
      </div>
      <div class="col">
        <div class="inputBox">
          <input type="text" name="" required="required">
          <span class="text">Mobile</span>
          <span class="line"></span>
        </div>
      </div>
    </div>
    <div class="row100">
      <div class="col">
        <div class="inputBox textarea">
          <textarea required="required"></textarea>
          <span class="text">Type your message Here...</span>
          <span class="line"></span>
        </div>
      </div>
    </div>

    <div class="row100">
      <div class="col">
        <input type="submit" value="Send">
      </div>
    </div>
  </div>
</div>